@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    <strong>Dorian BLANCHARD</strong> 
    <br />
</address>

<address>
    <strong>Mail :</strong>   <a href="mailto:dorian.blanchard@etu.uca.fr">dorian.blanchard@etu.uca.fr</a><br />
    <strong>CodePen :</strong> <a href="https://codepen.io/Arilox">codepen.io/Arilox</a> <br />
    <strong>Github :</strong> <a href="https://github.com/Arilox">github.com/Arilox</a>
</address>